@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "@toolwind/corner-shape";
@import "@catppuccin/tailwindcss/mocha.css";

body {
  font-family: var(--font-inter);
}

*:focus-visible {
  outline: 2px solid var(--catppuccin-color-red);
  outline-offset: 2px;
}


.bg-topbar {
  mask: linear-gradient(black, black, transparent);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@theme {
  --font-calistoga: "Calistoga",
    sans-serif;
  --font-inter: "Inter",
    sans-serif;

  --animate-console-pulse: console-pulse 1.5s ease-in-out infinite;

  @keyframes console-pulse {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }
}